<ion-header>
  <common-header [showHelpEvent]="'OPTIONS_ACTIONS'">Options / Actions</common-header>
</ion-header>

<ion-content>

  <div ion-item>
    <ion-icon class="icon-control" class="icon-control" name="brush" item-start></ion-icon>
    <ion-range min="0" max="300" pin="true" [(ngModel)]="configurationService.fontScale" (ionChange)="scaleChanged()" color="secondary">
      <ion-label style="color: #999" range-left>Font Scale: {{scale}}%</ion-label>
      <ion-label range-left>&nbsp;&nbsp;&nbsp;0%</ion-label>
      <ion-label range-right>+300%</ion-label>
    </ion-range>
  </div>

  <div ion-item>
    <ion-icon class="icon-control" name="cog" item-start color="primary"></ion-icon>
    <ion-label> Word Counting</ion-label>
    <ion-select [(ngModel)]="countStyle" interface="action-sheet" (ionChange)="countStyleChanged()">
      <ion-option value='BANDING'>Pre-sized bands</ion-option>
      <ion-option value='COUNT'>Actual word occurance</ion-option>
    </ion-select>
  </div>

  <div ion-item>
    <ion-icon class="icon-control" class="icon-control" name="brush" item-start></ion-icon>
    <ion-range min="0" max="100" pin="true" [(ngModel)]="configurationService.saturation" (ionChange)="lightnessChanged()" color="secondary">
      <ion-label style="color: #999" range-left>Saturation: {{configurationService.saturation}}%</ion-label>
      <ion-label range-left>&nbsp;&nbsp;&nbsp;0%</ion-label>
      <ion-label range-right>+100%</ion-label>
    </ion-range>
  </div>

  <div ion-item>
    <ion-icon class="icon-control" class="icon-control" name="brush" item-start></ion-icon>
    <ion-range min="0" max="100" pin="true" [(ngModel)]="configurationService.lightness" (ionChange)="lightnessChanged()" color="secondary">
      <ion-label style="color: #999" range-left>Lightness: {{configurationService.lightness}}%</ion-label>
      <ion-label range-left>&nbsp;&nbsp;&nbsp;0%</ion-label>
      <ion-label range-right>+100%</ion-label>
    </ion-range>
  </div>

  <colorMenuItem [description]="'Background'" [color]="configurationService.backgroundColor" [eventName]="BACKGROUND_COLOR"></colorMenuItem>

  <div ion-item [hidden]="!isApp">
    <ion-icon class="icon-control" name="images" item-start></ion-icon>
    <div>
      <ion-grid style="padding-left: 0px !important;">
        <ion-row>
          <ion-col style="padding-left: 0px !important">
            <div style="color: #999">Screenshot</div>
          </ion-col>
          <ion-col>

          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button outline color="primary" round small ion-button (click)="screenshot()" style="margin: 0px !important">
                Capture
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>