<ion-header>
  <common-header [showCloseButton]="true" [showHelpEvent]="'SHAPE_POPOVER'">Shape Options</common-header>
</ion-header>

<ion-content>

  <div ion-item id="wordStyle">
    <ion-icon class="icon-control" name="flask" item-start color="primary"></ion-icon>
    <ion-label>Style</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="configurationService.shapeStyleKey" (ionChange)="styleChanged()" ngClass="mySelect">
      <ion-option *ngFor="let th of styleFactory.backgroundStyles" [value]="th">{{th}}</ion-option>
    </ion-select>
  </div>

  <colorMenuItem [description]="'Fill Colour'" [color]="configurationService.shapeBackgroundColor" [eventName]="SHAPE_BACKGROUND_COLOR"></colorMenuItem>
  <colorMenuItem [hidden]="configurationService.shapeColors.length<1" [description]="'Flood Colour 1'" [color]="configurationService.shapeColors[0]?configurationService.shapeColors[0].color:'red'"
    [eventName]="SHAPE_COLOR1_CHANGED"></colorMenuItem>
  <colorMenuItem [hidden]="configurationService.shapeColors.length<2" [description]="'Flood Colour 2'" [color]="configurationService.shapeColors[1]?configurationService.shapeColors[1].color:'red'"
    [eventName]="SHAPE_COLOR2_CHANGED"></colorMenuItem>
  <colorMenuItem [hidden]="configurationService.shapeColors.length<3" [description]="'Flood Colour 3'" [color]="configurationService.shapeColors[2]?configurationService.shapeColors[2].color:'red'"
    [eventName]="SHAPE_COLOR3_CHANGED"></colorMenuItem>

</ion-content>