// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.prism {
  user-select: text;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: color($colors, primary);
  font-family: 'Hind Madurai', sans-serif;
}

h1 {
  background: color($colors, primary);
  color: color($colors, light);
  text-align: center;
  padding: $content-padding $heading-padding;
}
h2 {
  border-top: 2px solid color($colors, primary);
  border-bottom: 2px solid color($colors, primary);
  padding: $heading-padding $content-padding;
}

h3, h5, h6 {
  font-family: $font-family-base;
  font-weight: bold;
  padding: $heading-padding $content-padding;
}


@font-face{
  font-family: Pacifico;
  src: url('../assets/fonts/Pacifico.woff2')
  }

  @font-face{
    font-family: AbrilFatFace;
    src: url('../assets/fonts/AbrilFatFace.woff2')
  }
  @font-face{
    font-family: Arvo;
    src: url('../assets/fonts/Arvo.woff2')
  }
  @font-face{
    font-family: IndieFlower;
    src: url('../assets/fonts/IndieFlower.woff2')
  }
  @font-face{
    font-family: JosenfinSlab;
    src: url('../assets/fonts/JosenfinSlab.woff2')
  }
  @font-face{
    font-family: Lato;
    src: url('../assets/fonts/Lato.woff2')
  }
  @font-face{
    font-family: OldStandardTT;
    src: url('../assets/fonts/OldStandardTT.woff2')
  }
  @font-face{
    font-family: OpenSans;
    src: url('../assets/fonts/OpenSans.woff2')
  }
  @font-face{
    font-family: PermanentMarker;
    src: url('../assets/fonts/PermanentMarker.woff2')
  }
  @font-face{
    font-family: RussoOne;
    src: url('../assets/fonts/RussoOne.woff2')
  }
  @font-face{
    font-family: TitanOne;
    src: url('../assets/fonts/TitanOne.woff2')
  }
  @font-face{
    font-family: Ubuntu;
    src: url('../assets/fonts/Ubuntu.woff2')
  }
   @font-face{
    font-family: Vollkorn;
    src: url('../assets/fonts/Vollkorn.woff2')
  }


.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(1){font-family: AbrilFatFace !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(2){font-family: Arvo  !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(3){font-family: IndieFlower !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(4){font-family: Impact !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(5){font-family: JosenfinSlab !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(6){font-family:  Lato !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(7){font-family: OldStandardTT !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(8){font-family: OpenSans !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(9){font-family: Pacifico !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(10){font-family: PermanentMarker !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(11){font-family: RussoOne !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(12){font-family: TitanOne !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(13){font-family: Ubuntu !important}
.fontFaceSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(14){font-family: Vollkorn !important}


.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(1){font-family: TitanOne !important }
.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(2){font-family: Pacifico !important }
.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(3){font-family: Pacifico !important }
.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(4){font-family: PermanentMarker !important}
.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(5){font-family: PermanentMarker !important}
.themeSelect > .alert-wrapper > div > .alert-radio-group > button:nth-child(6){font-family: JosenfinSlab !important}

.introjs-tooltiptext{
  font-size: 200%;
  font-family: $font-family-md-base
}

.introjs-button { font-family: $font-family-md-base !important }

.introjs-helperLayer {
    opacity: 0.5;
}

.introjs-overlay {
  opacity: 0.2 !important;
}

.linkSelect * { 
  font-size: small
}

.alert-md .alert-radio-group  {
  //height: auto;
}

.alert-md .alert-wrapper {
  max-width: 90% !important;
}
