<ion-navbar>

    <button ion-button menuToggle icon-only *ngIf="showMenuButton" id="menuButton">
        <ion-icon name='menu' id="menuButton"></ion-icon>
    </button>

    <ion-title #ref>
        <ion-spinner class="logo" [hidden]="!busy || error"></ion-spinner>
        <img [hidden]="busy || error" class="logo" src="assets/imgs/logo.png" alt="logo" />
        <img [hidden]="!error" class="logo" src="assets/imgs/error.png" alt="logo" />
        <ng-content></ng-content>
    </ion-title>

    <ion-buttons end>
      <button [style.font-family]="fontFace" style="font-weight:bold" ion-button (click)="chooseFont($event)" id="fontFace" *ngIf="showStyleButton">
        {{fontFaceName}}&nbsp;
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>             
      <button ion-button icon-only (click)="cloudStyle($event)" id="stylings" *ngIf="showStyleButton">
    
          <svg style="width: 30px;height: 30px;" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g>
              <path class="animated animationColor infinite veryslow" d="m77.999999,432.473764c0,0 88.754444,-154.960419 88.754444,-155.473533c0,-0.513114 125.907468,21.037673 125.907468,20.524559c0,-0.513114 75.338075,135.975202 75.338075,135.975202c0,0 -289.999987,-1.026228 -289.999987,-1.026228z" />
            </g>
            <g style="fill: #FF2020; fill-opacity: 0.3;">
              <circle class="bubble animated infinite slideOutUp vslow delay-5s" enable-background="new" cx="221" cy="420" r="21" />
              <circle class="bubble animated infinite slideOutUp vslow" enable-background="new" cx="236" cy="428" r="25" />
              <circle class="bubble animated infinite slideOutUp sslow" enable-background="new" cx="270" cy="376" r="21" />
            </g>
            <g class="layer">
              <title>Layer 1</title>
              <path d="m437.2,403.5l-117.2,-188.5l0,-151l8,0c13.3,0 24,-10.7 24,-24l0,-16c0,-13.3 -10.7,-24 -24,-24l-208,0c-13.3,0 -24,10.7 -24,24l0,16c0,13.3 10.7,24 24,24l8,0l0,151l-117.2,188.5c-29.3,47.1 4.5,108.5 60.1,108.5l306.2,0c55.7,0 89.4,-61.5 60.1,-108.5zm-355.3,26.5l104.2,-187.6c3.7,-5.2 5.8,-11.6 5.8,-18.4l0,-160l64,0l0,160c0,6.9 2.2,13.2 5.8,18.4l101.2,187.6l-281,0z" fill="black" id="svg_1" />
            </g>
          </svg>
      
      </button>
      <button ion-button (click)="cloudShape($event)" id="shape" *ngIf="showShapeButton">
        <i *ngIf="shape && shape.length > 0" class="fa fa-2x fa-{{shape}}"></i>
        <ion-icon *ngIf="!shape || shape.length==0" name="easel" style="font-size: 25px;"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" [attr.id]="constructId" *ngIf="showMoreButton">
        <ion-icon name="construct"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showhelp()" color="secondary" id="help"  *ngIf="showHelpEvent">
        <ion-icon name="help-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="closePopover()" *ngIf="showCloseButton">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

</ion-navbar>