<ion-navbar>

    <button ion-button menuToggle icon-only *ngIf="showMenuButton">
        <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title #ref>
        <ion-spinner class="logo" [hidden]="!busy || error"></ion-spinner>
        <img [hidden]="busy || error" class="logo" src="assets/imgs/logo.png" alt="logo" />
        <img [hidden]="!error" class="logo" src="assets/imgs/error.png" alt="logo" />
        <ng-content></ng-content>
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="cloudStyle($event)" id="stylings" *ngIf="showStyleButton">
            <ion-icon name="flask"></ion-icon>
        </button>
        <button ion-button (click)="cloudShape($event)" id="shape" *ngIf="showShapeButton">
            <i *ngIf="shape && shape.length > 0" class="fa fa-2x fa-{{shape}}"></i>
            <ion-icon *ngIf="!shape || shape.length==0" name="easel" style="font-size: 25px;"></ion-icon>
        </button>
        <button ion-button icon-only (click)="presentPopover($event)" id="stylings" *ngIf="showMoreButton">
            <ion-icon name="more"></ion-icon>
        </button>
        <button ion-button icon-only (click)="closePopover()" id="stylings" *ngIf="showCloseButton">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>