<ion-navbar>

    <button ion-button menuToggle icon-only *ngIf="showMenuButton">
        <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title #ref>
        <ion-spinner class="logo" [hidden]="!busy || error"></ion-spinner>
        <img [hidden]="busy || error" class="logo" src="assets/imgs/logo.png" alt="logo" />
        <img [hidden]="!error" class="logo" src="assets/imgs/error.png" alt="logo" />
        <ng-content></ng-content>
    </ion-title>

    <ion-buttons end *ngIf="showMoreButton">
        <button ion-button icon-only (click)="presentPopover($event)" id="stylings">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>