<div *ngIf="!data.length">

    <svg xmlns="http://www.w3.org/2000/svg" width="1516" height="719">
        <g transform="translate(763,374)">
            <defs>
                <filter id="glow" x="-30%" y="-30%" width="160%" height="160%">
                    <feGaussianBlur stdDeviation="10 10" result="glow"></feGaussianBlur>
                    <feMerge>
                        <feMergeNode in="glow"></feMergeNode>
                        <feMergeNode in="glow"></feMergeNode>
                        <feMergeNode in="glow"></feMergeNode>
                        <feMergeNode in="glow"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <text text-anchor="middle" transform="translate(-100,-100)rotate(0)" filter="url(#glow)" style="font-size: 128px; font-family: Pacifico; fill: rgb(0, 0, 255);">web</text>
            <text text-anchor="middle" transform="translate(-100,-100)rotate(0)" style="font-size: 128px; stroke: white; stroke-opacity: 1; stroke-width: 6px; font-family: Pacifico; fill: rgb(0, 0, 255);">web</text>


            <text text-anchor="middle" transform="translate(00,0)rotate(0)" filter="url(#glow)" style="font-size: 96px; font-family: Pacifico; fill: rgb(255, 0, 0);">word</text>
            <text text-anchor="middle" transform="translate(00,0)rotate(0)" style="font-size: 96px; stroke: white; stroke-opacity: 1; stroke-width: 4px; font-family: Pacifico; fill: rgb(255, 0, 0);">word</text>

            <text text-anchor="middle" transform="translate(100,120)rotate(0)" filter="url(#glow)" style="font-size: 80px; font-family: Pacifico; fill: rgb(0, 192, 0);">cloud</text>
            <text text-anchor="middle" transform="translate(100,120)rotate(0)" style="font-size: 80px; stroke: white; stroke-opacity: 1; stroke-width: 4px; font-family: Pacifico; fill: rgb(0, 192, 0);">cloud</text>
        </g>
    </svg>
</div>

<div [hidden]="!data.length" class="word-cloud" id="word-cloud">
    <div class="progress-outer" [hidden]="progress==100">
        <div class="progress-inner" [style.width]="progress + '%'">
            {{progress}}%
        </div>
    </div>
</div>