<ion-header>
  <common-header>Word Style</common-header>
</ion-header>

<ion-content>

  <div ion-item>
    <ion-icon class="icon-control" name="flask" item-start color="primary"></ion-icon>
    <ion-label>Style</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="style" (ionChange)="styleChanged()" ngClass="mySelect">
      <ion-option *ngFor="let th of styleFactory.styles" [value]="th">{{th.key}}</ion-option>
    </ion-select>
  </div>

  <colorMenuItem [hidden]="configurationService.wordColors.length<1" [description]="'Customise Colour 1'" [color]="configurationService.wordColors[0]?configurationService.wordColors[0].color:'red'"
    [eventName]="'color1Changed'"></colorMenuItem>
  <colorMenuItem [hidden]="configurationService.wordColors.length<2" [description]="'Customise Colour 2'" [color]="configurationService.wordColors[1]?configurationService.wordColors[1].color:'red'"
    [eventName]="'color2Changed'"></colorMenuItem>
  <colorMenuItem [hidden]="configurationService.wordColors.length<3" [description]="'Customise Colour 3'" [color]="configurationService.wordColors[2]?configurationService.wordColors[2].color:'red'"
    [eventName]="'color3Changed'"></colorMenuItem>

  <div [hidden]="!strokeStyleEnabled">
    <div ion-item>
      <ion-icon class="icon-control" name="brush" item-start color="primary"></ion-icon>
      <ion-label>Word Outline</ion-label>
      <ion-select [(ngModel)]="strokeStyle" interface="action-sheet" (ionChange)="strokeStyleChanged()">
        <ion-option value='UNDEFINED'>None</ion-option>
        <ion-option value='RANDOM'>Random</ion-option>
        <ion-option value='CUSTOM'>Custom Colour</ion-option>
        <ion-option value='DEFAULT'>White</ion-option>
        <ion-option value='black'>Black</ion-option>
        <ion-option value='gray'>Gray</ion-option>
      </ion-select>
    </div>

    <colorMenuItem [hidden]="strokeStyle!=='CUSTOM'" [description]="'Outline Colour'" [color]="strokeColor" [eventName]="'strokeColorChanged'"></colorMenuItem>
  </div>
</ion-content>