<ion-header>
  <common-header>Word Style</common-header>
</ion-header>

<ion-content>

  <div ion-item>
    <ion-icon class="icon-control" name="flask" item-start color="primary"></ion-icon>
    <ion-label>Style</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="style" (ionChange)="styleChanged()" ngClass="mySelect">
      <ion-option *ngFor="let th of styleFactory.styles" [value]="th">{{th.key}}</ion-option>
    </ion-select>
  </div>

  <div [hidden]="colourCount<1">
    <div ion-item>
      <ion-icon class="icon-control" name="color-palette" item-start></ion-icon>
      <ion-label style="color: #999">Customise Colour 1</ion-label>
      <ion-toggle [(ngModel)]="color1Enabled" (ionChange)="onToggleColor1Enabled()"></ion-toggle>
    </div>

    <div>
      <div ion-item>
        <div>
          <ion-grid style="padding-left: 0px !important;">
            <ion-row>
              <ion-col [ngStyle]="{ 'background-color': color1?color1:'none' }">
              </ion-col>
              <ion-col>
                <ion-buttons end [hidden]="!color1Enabled">
                  <button outline color="primary" round small ion-button (click)="selectColor1($event)" style="margin: 0px !important">
                    Select Colour
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

  </div>


  <div [hidden]="colourCount<2">
    <div ion-item>
      <ion-icon class="icon-control" name="color-palette" item-start></ion-icon>
      <ion-label style="color: #999 ">Customise Colour 2</ion-label>
      <ion-toggle [(ngModel)]="color2Enabled" (ionChange)="onToggleColor2Enabled()"></ion-toggle>
    </div>

    <div>
      <div ion-item>
        <div>
          <ion-grid style="padding-left: 0px !important;">
            <ion-row>
              <ion-col [ngStyle]="{ 'background-color': color2?color2:'none' }">
              </ion-col>
              <ion-col>
                <ion-buttons end [hidden]="!color2Enabled">
                  <button outline color="primary" round small ion-button (click)="selectColor2($event)" style="margin: 0px !important">
                    Select Colour
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

  </div>


  <div [hidden]="colourCount<3">

    <div ion-item>
      <ion-icon class="icon-control" name="color-palette" item-start></ion-icon>
      <ion-label style="color: #999">Customise Colour 3</ion-label>
      <ion-toggle [(ngModel)]="color3Enabled" (ionChange)="onToggleColor3Enabled()"></ion-toggle>
    </div>

    <div>
      <div ion-item>

        <ion-grid style="padding-left: 0px !important;">
          <ion-row>
            <ion-col [ngStyle]="{ 'background-color': color3?color3:'none' }">
            </ion-col>
            <ion-col>
              <ion-buttons end [hidden]="!color3Enabled">
                <button outline color="primary" round small ion-button (click)="selectColor3($event)" style="margin: 0px !important">
                  Select Colour
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>

  </div>


  <div [hidden]="!strokeStyleEnabled">
    <div ion-item>
      <ion-icon class="icon-control" name="brush" item-start color="primary"></ion-icon>
      <ion-label>Word Outline</ion-label>
      <ion-select [(ngModel)]="strokeStyle" interface="action-sheet" (ionChange)="strokeStyleChanged()">
        <ion-option value='UNDEFINED'>None</ion-option>
        <ion-option value='RANDOM'>Random</ion-option>
        <ion-option value='CUSTOM'>Custom Colour</ion-option>
        <ion-option value='DEFAULT'>White</ion-option>
        <ion-option value='black'>Black</ion-option>
        <ion-option value='gray'>Gray</ion-option>
      </ion-select>
    </div>

    <div ion-item [hidden]="strokeStyle!=='CUSTOM'">
      <ion-grid style="padding-left: 0px !important;">
        <ion-row>
          <ion-col [ngStyle]="{ 'background-color': strokeColor?strokeColor:'none' }">
          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button outline color="primary" round small ion-button (click)="selectStrokeColor($event)" style="margin: 0px !important">
                Select Colour
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>